<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../viewAdmin/partials/head.ejs"); %>
  </head>

  <body>
    <main class="main-content">
      <div class="content-box">  
        <div class="container-header mt-3">
          <h1>DATA TRANSAKSI /</h1>

          <p>
            <%= typeof user !="undefined" ? user : "" %>
          </p>
        </div>

        <% let counter = 0; %>
        <% dataTransaksi.forEach(reservasi => { %> 
          <div class="card mb-4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nomor Invoice</th>
                  <th scope="col">Tanggal Reservasi</th>
                  <th scope="col">Total Transaksi</th>
                  <th scope="col">Metode Pembayaran</th>
                  <th scope="col">Status</th>
                  <th scope="col">Create At</th>
                </tr>
              </thead>

              <tbody style="font-weight: bold;">
                <tr>
                  <td><%= counter += 1; %></td>
                  <td><%= reservasi.id_invoice; %></td>
                  <td><%= reservasi.untuk_tanggal; %></td>
                  <td>Rp.<%= reservasi.total_transaksi; %></td>
                  <td><%= reservasi.metode_pembayaran; %></td>
                  <td><%= reservasi.status_transaksi; %></td>
                  <td><%= reservasi.create_at; %></td>
                </tr>
              </tbody>
            </table>

            <div class="card ms-2 me-2">
              <div class="card-header">
                <h6>
                  #List Pesanan
                </h6>
              </div>

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID Pesanan</th>
                    <th scope="col">Nama Menu</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Harga</th>
                  </tr>
                </thead>
        
                <tbody id="view-pesanan">
                  <!-- # List Pesanan Pelanggan --> 
                  <% dataPesanan.forEach(dp => { %>
                    <% if (dp.id_pelanggan === reservasi.id_pelanggan) { %>
                      <tr>
                        <td><%= dp.id_pesanan; %></td>
                        <td><%= dp.nama_menu; %></td>
                        <td><%= dp.qty; %></td>
                        <td>Rp.<%= dp.total_harga; %></td>
                      </tr>
                    <% } %> 
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>