<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../viewAdmin/partials/head.ejs"); %>
  </head>

  <body>
    <main class="main-content">
      <div class="content-box">  
        <div class="container-header mt-3">
          <h1>DATA RESERVASI /</h1>

          <p>
            <%= typeof user != "undefined" ? user : "" %>
          </p>
        </div>

        <div class="card mb-4">
          <table class="table" style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID Reservasi</th>
                <th scope="col">Nama Pelanggan</th>
                <th scope="col">Tanggal Reservasi</th>
                <th scope="col">Status</th>
                <th scope="col">Email Pengguna</th>
                <th scope="col">Create At</th>
                <th scope="col">Update At</th>
              </tr>
            </thead>
            
            <tbody>
              <% let counter = 0; %> 
              <% dataReservasi.forEach(reservasi => { %> 
                <tr>
                  <td><%= counter += 1; %></td>
                  <td><%= reservasi.id_reservasi; %></td>
                  <td><%= reservasi.nama_pelanggan; %></td>
                  <td><%= reservasi.untuk_tanggal; %></td>
                  <td><%= reservasi.status_reservasi; %></td>
                  <td><%= reservasi.email; %></td>
                  <td><%= reservasi.create_at; %></td>
                  <td><%= reservasi.update_at; %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>