<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partials/head.ejs"); %>
  </head>

  <body>
    <header>
      <%- include("../partials/header.ejs"); %>
    </header>

    <main class="container">
      <div class="nav-bar">
        <div class="nav-content">
          <%- include("../partials/navbar.ejs", {user: user}); %>
        </div>
      </div>
      
      <div class="content-box">
        <div class="container-header">
          <h1>DASHBOARD</h1>
          <p><%= typeof user != "undefined" ? user : "" %></p>
        </div>

        <div class="container-header">
          <h1>Daftar Menu</h1>
        </div>
      </div>
    </main>
    
    <footer>
      <%- include("../partials/footer.ejs"); %>
    </footer>

    <script src="/styles/funcModals.js"></script>
    <script src="/styles/navDropDown.js"></script>
  </body>

</html>