<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/headPelanggan.ejs"); %>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark pe-4">
    <%- include("../partials/navbarPelanggan.ejs"); %>
  </nav>

  <!-- Flash Messages -->
  <% if (locals.messages) { %>
    <div style="text-align: center" class="alert alert-<%= messages.type %>" role="alert">
      <strong>
        <%= messages.intro %>
      </strong>

      <%= messages.message %>

      <button class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
  <% } %>

  <main>
    <div class="container mt-3">
      <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <h4>
            Nomor Invoice: <span class="text-success"><%= dataReservasi[0].id_invoice; %></span>
          </h4>

          <form action="/docs/pdf-invoice-pelanggan/<%= dataReservasi[0].id_pelanggan; %>" method="POST" target="_blank">
            <button class="btn btn-primary" type="submit">CETAK</button>
          </form>
        </div>
      </div>
    </div>

    <form class="form-container" action="/update-bukti-transaksi/<%= dataReservasi[0].id; %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="container" style="display: flex;">
        <div class="card me-3" style="width: 25em;">
          <div class="card-header" style="text-align: center;">
            Informasi Reservasi
          </div>
      
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p>
                ID Reservasi:
              </p>
    
              <p>
                <%= dataReservasi[0].id; %>
              </p>
  
              <input type="hidden" name="idReservasi" value="<%= dataReservasi[0].id; %>" required readonly>
            </li>
      
            <li class="list-group-item">
              <p>
                Nama Pelanggan:
              </p>
    
              <p>
                <%= dataReservasi[0].nama_pelanggan; %>
              </p>
            </li>
      
            <li class="list-group-item">
              <p>
                Email:
              </p>
    
              <p>
                <%= dataReservasi[0].email; %>
              </p>
            </li>
      
            <li class="list-group-item">
              <p>
                Nomor Meja:
              </p>
    
              <p>
                <%= dataReservasi[0].nomor_meja; %>
              </p>
            </li>
      
            <li class="list-group-item">
              <p>
                Tanggal Reservasi:
              </p>
    
              <p>
                <%= dataReservasi[0].untuk_tanggal; %>
              </p>
            </li>

            <li class="list-group-item">
              <p>
                Metode Pembayaran:
              </p>
    
              <p>
                Transfer Bank
              </p>
            </li>
          </ul>
        </div>

        <div style="display: flex; flex-direction: column; width: 100%;">
          <div class="card mb-3 w-100">
            <div class="card-header" style="text-align: center;">
              List Pesanan
            </div>
          
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID Pesanan</th>
                  <th scope="col">Nama Menu</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Harga</th>
                </tr>
              </thead>
              
              <tbody id="view-pesanan">
                <!-- # List Pesanan Pelanggan -->
                <% dataPesanan.forEach(dp => { %>
                  <tr>
                    <td>
                      <%= dp.id %>
                    </td>
      
                    <td>
                      <%= dp.nama_menu%>
                    </td>
      
                    <td>
                      <%= dp.qty %>
                    </td>
      
                    <td>
                      <%= dp.total_harga %>
                    </td>
                  </tr>
                <% }); %> 
              </tbody>
            </table>
          
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5 style="text-align: right;">
                  Total: Rp.<%= totalBayar %>
                </h5>
              </li>
            </ul>
          </div>

          <div class="card mb-3 w-100">
            <div class="card-header" style="text-align: center;">
              Nomor Rekening Restoran
            </div>

            <div class="card-body">
              *Silahkan melakukan pembayaran, melalui salah satu nomor rekening bank yang sudah disediakan.
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h6>
                  BCA: <span class="text-success">8735089xxx</span>                    
                </h6>
              </li>

              <li class="list-group-item">
                <h6>
                  Mandiri: <span class="text-success">1410013032xxx</span>
                </h6>
              </li>

              <li class="list-group-item">
                <h6>
                  BRI: <span class="text-success">034101000743xxx</span>
                </h6>
              </li>
            </ul>
          </div>
    
          <div class="card mb-3 w-100">
            <div class="card-header" style="text-align: center;">
              Form Update Upload Bukti Transaksi
            </div>

            <div class="card-body">
              <div class="form-group">
                <label for="bukti_transaksi">Upload Bukti Transaksi:</label>
                <input type="file" name="bukti_transaksi" accept="image/*" class="form-control-file" id="bukti_transaksi" required>
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-success">KIRIM BUKTI</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>
</body>

</html>