<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partials/head.ejs"); %>
  </head>

  <body>
    <header>
      <%- include("../partials/header.ejs"); %>
    </header>

    <main class="main-content">
      <div class="nav-bar">
        <div class="nav-content">
          <%- include("../partials/navbar.ejs", {user: user}); %>
        </div>
      </div>

      <div class="content-box">  
        <div class="container-header mt-3">
          <h1>DATA RESERVASI /</h1>

          <p>
            <%= typeof user !="undefined" ? user : "" %>
          </p>
        </div>

        <!-- Flash Messages -->
        <% if (locals.messages) { %>
          <div style="text-align: center" class="alert alert-<%= messages.type %>" role="alert">
            <strong>
              <%= messages.intro %>
            </strong>

            <%= messages.message %>
          
            <button class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
          </div>
        <% } %>

        <% dataReservasi.forEach(reservasi => { %> 
          <details class="card mb-4">
            <summary class="card-header start-flex-row"> 
              <div>
                <h4 class="mb-3">
                  <%= reservasi.id_reservasi; %>
                </h4>
  
                <p>
                  Nama Pelanggan:
                  <span><%= reservasi.nama_pelanggan; %></span>
                </p>
  
                <p>
                  Tanggal Reservasi:
                  <span><%= reservasi.untuk_tanggal; %></span>
                </p>
  
                <p>
                  Status:
                  <span><%= reservasi.status_reservasi; %></span>
                </p>
              </div>
            </summary>
  
            <div class="card-body">
              <div class="card">
                <div class="card-header">
                  <h5>
                    Detail Reservasi
                  </h5>
                </div>
  
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <label>Email Pengguna:</label>
                    <%= reservasi.email; %>
                  </li>
    
                  <li class="list-group-item">
                    <label>Create At:</label>
                    <%= reservasi.create_at; %>
                  </li>
                  
                  <li class="list-group-item">
                    <label for="updateAt">Update At:</label>
                    <%= reservasi.update_at; %>
                  </li>
                  
                  <li class="list-group-item">   
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteReservasi<%= reservasi.id; %>">HAPUS</button>
                  </li>
                </ul>
  
                <!-- Delete modal -->
                <div class="modal fade" id="deleteReservasi<%= reservasi.id; %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticDeleteReservasi<%= reservasi.id; %>" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticDeleteReservasi<%= reservasi.id; %>">Hapus Data Reservasi</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      
                      <!-- TODO: Edit halaman untuk menyesuaikan data Reservasi Admin -->
                      <div class="modal-body">
                        <form action="/admin/reservasi<%= reservasi.id; %>?_method=DELETE" method="POST">
                          <div class="card text-dark w-100">
                            <div class="card-header mb-3"><b>Anda yakin ingin menghapus data reservasi <%= reservasi.nama_pelanggan; %> - <%= reservasi.id_reservasi; %>?</b></div>
                            <div class="card-body">
                              <p class="card-text">*Perlu di ingat! Jika anda menghapus data reservasi, maka seluruh data yang berhubungan dengan reservasi akan dihapus, seperti data pesanan, data bukti transfer, data transaksi & data pelanggan.</p>
                            </div>
                          </div>
        
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
                            <button type="submit" class="btn btn-danger">DELETE</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </details>
        <% }); %>
      </div>
    </main>

    <script src="/styles/funcModals.js"></script>
  </body>

</html>