<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partials/head.ejs"); %>
  </head>

  <body>
    <header>
      <%- include("../partials/header.ejs"); %>
    </header>

    <main class="main-content">
      <div class="nav-bar">
        <div class="nav-content">
          <%- include("../partials/navbar.ejs", {user: user}); %>
        </div>
      </div>

      <div class="content-box">  
        <div class="container-header mt-3">
          <h1>DATA KONFIRMASI RESERVASI TAMU /</h1>

          <p>
            <%= typeof user !="undefined" ? user : "" %>
          </p>
        </div>

        <!-- Flash Messages -->
        <% if (locals.messages) { %>
          <div style="text-align: center" class="alert alert-<%= messages.type %>" role="alert">
            <strong>
              <%= messages.intro %>
            </strong>

            <%= messages.message %>
          
            <button class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
          </div>
        <% } %>

        <% dataValidReservasi.forEach(reservasi => { %> 
          <details class="card mb-4">
            <summary class="card-header start-flex-row">  
              <div>
                <h4 class="mb-3">
                  <%= reservasi.id_transfer; %>
                </h4>
  
                <p>
                  Nama Pelanggan:
                  <span><%= reservasi.nama_pelanggan; %></span>
                </p>
  
                <p>
                  Tanggal Reservasi:
                  <span><%= reservasi.untuk_tanggal; %></span>
                </p>
  
                <p>
                  Status Reservasi:
                  <span><%= reservasi.status_reservasi; %></span>
                </p>
              </div>
            </summary>
  
            <div class="card-body">
              <div class="card">
                <div class="card-header">
                  <h5>
                    Detail Reservasi
                  </h5>
                </div>
  
                <ul class="list-group list-group-flush">
                  <li id="id_reservasi" class="list-group-item">
                    <label for="id_reservasi">ID Reservasi:</label>
                    <%= reservasi.id_reservasi; %>
                  </li>
    
                  <li id="email" class="list-group-item">
                    <label for="email">Email Pelanggan:</label>
                    <%= reservasi.email; %>
                  </li>
                  
                  <li id="updateAt" class="list-group-item">
                    <label for="updateAt">Update At:</label>
                    <%= reservasi.update_at; %>
                  </li>
                  
                  <li class="list-group-item">
                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editStatus<%=reservasi.id_transfer; %>">VALIDASI</button>
                  </li>
                </ul>

                <!-- Update status reservasi modal -->
                <div class="modal fade" id="editStatus<%= reservasi.id_transfer; %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticEditStatus<%= reservasi.id_transfer; %>" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticEditStatus<%= reservasi.id_transfer %>">Validasi Transaksi</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
  
                      <div class="modal-body">
                        <form action="/admin/konfirmasi-reservasi/<%= reservasi.id_transfer; %>?_method=PUT" method="POST">
                          <input type="hidden" class="form-control" id="bukti" name="bukti" value="<%= reservasi.bukti; %>" readonly required>

                          <div class="mb-3">
                            <label for="status" class="form-label">Status Reservasi</label>
            
                            <select class="form-select form-select-md" aria-label=".form-select-md" id="status" name="status" required>
                              <option selected value="">Update status reservasi</option>
                              <option value="selesai">Selesai</option>
                            </select>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            <button type="submit" class="btn btn-success">Validasi</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </details>
        <% }); %>
      </div>
    </main>

    <script src="/styles/funcModals.js"></script>
  </body>

</html>