<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partials/head.ejs"); %>
  </head>

  <body>
    <header>
      <%- include("../partials/header.ejs"); %>
    </header>

    <main class="container">
      <div class="nav-bar">
        <%- include("../partials/navbar.ejs", {user: user}); %>
      </div>

      <div class="content-box">
        <div class="page-routes">
          <ul>
            <li>
              <a href="/products-menu">Daftar Menu</a>
              <a href="/products-meja" class="active">Daftar Meja</a>
            </li>
          </ul>
        </div>
  
        <div class="container-header">
          <h1>Daftar Meja</h1>
          <button class="new-button btn-modals" data-bs-toggle="modal" data-bs-target="#modal-create">+
            Tambahkan</button>
        </div>
        <!-- Create Meja Modal -->
        <div class="modal-container" role="dialog" id="modal-create">
          <div class="modal-box-title">
            <h3>Tambah Meja</h3>
            <button class="close-modal"">X</button>
          </div>
  
          <div class="modal-box-content">
            <form action="/products-meja" method="post">
              <div class="form-group">
                <label for="max">MAX ORANG:</label>
                <input type="text" name="max" id="max" required>
              </div>
                
              <div class="form-group">
                <label for="status">STATUS RESERVASI:</label>
                <input type="text" name="status" id="status" required>
              </div>
  
              <div class="form-group">
                <button type="submit" class="submit-button">CREATE</button>
              </div>
            </form>
          </div>
        </div>
  
        <table>
          <tr>
            <td class="id-column"><b>ID MEJA</b></td>
            <td class="name-column"><b>MAX ORANG</b></td>
            <td class="name-column"><b>STATUS RESERVASI</b></td>
            <td class="name-column"><b>ACTIONS</b></td>
          </tr>
  
          <% meja.forEach(item => { %>
            <%- include("../datas/tableMeja", {item: item}); %>

            <!-- Update Meja Modal -->
            <div class="modal-container" role="dialog" id="modal-update">
              <div class="modal-box-title">
                <h3>Edit Meja</h3>
                <button class="close-modal">X</button>
              </div>
  
              <div class="modal-box-content">
                <form action="/products-meja/<%= item.id_meja %>?_method=PUT" method="post">
                  <div class="form-group">
                    <label for="max">MAX ORANG:</label>
                    <input type="text" name="max" id="max" value="<%= item.max_orang %>" required>
                  </div>
  
                  <div class="form-group">
                    <label for="status">STATUS RESERVASI:</label>
                    <input type="text" name="status" id="status" value="<%= item.status_reservasi %>" required>
                  </div>
  
                  <div class="form-group">
                    <button type="submit" class="submit-button">UPDATE</button>
                  </div>
                </form>
              </div>
            </div>

            <!-- Delete Meja Modal -->
            <div class="modal-container" role="dialog" id="modal-delete">
              <div class="modal-box-title">
                <h3>Delete Meja</h3>
                <button class="close-modal">X</button>
              </div>
  
              <div class="modal-box-content">
                <form action="/products-meja/<%= item.id_meja %>?_method=DELETE" method="post">
                  <div class="form-group">
                    <label>Anda yakin ingin menghapus data meja ini?</label>
                  </div>
  
                  <div class="form-group">
                    <button type="submit" class="submit-button">DELETE</button>
                  </div>
                </form>
              </div>
            </div>
          <% }); %>
        </table>
        <br>
        <a class="index-button" href="/">Kembali</a>
      </div>

      <script src="/styles/funcModals.js"></script>
    </main>
  </body>

</html>